/* writing base classes in 'mobile first' way. then using media queries to make it look good on desktop*/
.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  /* below: centers link vertically */
  display: block;
  width: 100%;
}

/* note they're going to be colored differently b/c 'Burger Builder' is set to active */
.NavigationItem a {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40a4c8;
}

/* desktop setup */
/* media queries are merged with original setup so no need to repeat yourself */
@media (min-width: 500px) {
  .NavigationItem {
    margin: 0;
    /* below: centers link vertically */
    display: flex;
    height: 100%;
    width: auto;
    /* centers link horizonally */
    align-items: center;
  }

  .NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    /* for when we highlight/hover over link */
    border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
}
